name: CI

on:
  #  push:
  #    branches: [ main ]
  workflow_dispatch:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  test-and-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Cache Go modules
        uses: actions/cache@v5
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          cache: true
          go-version-file: ./go.mod

      - name: Install golangci-lint action
        uses: golangci/golangci-lint-action@v9
        with:
          #version: v1.58.0
          install-mode: binary

      - name: Run gofmt checks
        run: |
          unformatted=$(gofmt -l .)
          if [ -n "$unformatted" ]; then
            echo "gofmt found issues:" && echo "$unformatted"
            exit 1
          fi

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          # version: v1.58.0
          args: run ./...

      - name: Run go vet
        run: go vet ./...

      - name: Run tests
        run: go test ./... -v
